    # Folders
    .gradle/
    build/
    captures/
    .idea/

    # Files
    *.apk
    *.ap_
    *.aab
    *.keystore
    local.properties
    .DS_Store

    # Other
    **/.cxx/
    **/cmake/
    **/libs/
    !**/libs/armeabi-v7a/
    !**/libs/arm64-v8a/
    !**/libs/x86/
    !**/libs/x86_64/
